
#logo-bio-buttons-display{
    display: flex;
    height: 60px;
    /* border-bottom: 6px, rgba(0, 0, 0, 0.518),solid; */
}

#logo{
    margin-left: 250px;
}

.button-display{
    position: absolute;
    top: 5px;
    left: 295px;
}
#button-1, #button-2, #button-3{
    margin-top: 5px;
    background-color: unset;
    border: none;
    color: rgb(241, 90, 30);
    width: 145px;
    padding: 5px;
    font-weight: 500;
}


.search-form{
    position: absolute;
    margin-left: 1100px;
    display: flex; 
    height: 35px;
    top: 10px;
    /* margin-top: 10px; */
}



/* .search-btn{
border;
} */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.about-paragraph-display{
    display: flex;
    top: 100px;
    height: 500px;

}




.about-content{
    position: relative;
    left: 260px;
    top: 80px;
    width: 550px;
    height: 250px;
    color: rgb(20, 20, 20);
}

.about-content > h2{
    text-align: center;
}
